* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Nagłówek */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sekcja powitalna */
.welcome-section {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Sekcja O nas */
.about-section {
    background-color: #e9ecef;
    padding: 40px 0;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 20px;
}

.about-section p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.8;
}

/* Sekcja Porady */
.tips-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.tips-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tips-section ul {
    list-style: disc;
    margin-left: 40px;
    line-height: 1.8;
}

/* Sekcja Kontakt */
.contact-section {
    background-color: #e9ecef;
    padding: 40px 0;
    text-align: center;
}

.contact-section form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-section label {
    margin: 10px 0 5px;
}

.contact-section input,
.contact-section textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.1em;
}

.contact-section input[type="submit"]:hover {
    background-color: #45a049;
}

/* Stopka */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
