* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    min-height: 100vh; /* Minimalna wysokość, aby zajmować całe okno przeglądarki */
}

.page-container {
    flex-grow: 1; /* Główna zawartość ma rosnąć, aby wypełnić przestrzeń */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Nagłówek */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sekcja powitalna */
.welcome-section {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Sekcja O nas */
.about-section {
    background-color: #e9ecef;
    padding: 40px 0;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 20px;
}

.about-section p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.8;
}

/* Stopka */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Wymusza umiejscowienie stopki na dole */
}
